.box
{
    display: flex;
}
.Lgrad
{
    box-shadow: 2px 2px 12px 5px rgba(104, 97, 135, 0.21);
    margin: 12px;
    padding: 12px;
    background-image: linear-gradient(35deg,white,white,rgba(0, 0, 255, 0.2));
    height: 350px;
    width: 350px;
    font-size: xx-large;
    color: rgb(255, 0, 251);
    text-align: center;
    text-shadow: 2px 2px 12px rgba(170, 101, 173, 0.838);
}
.Rgrad
{
    margin: 12px;
    padding: 12px;
    background-image: radial-gradient(white,rgba(33, 221, 33, 0.51));
    height: 350px;
    width: 350px;
    box-shadow: 2px 2px 12px 5px rgba(104, 97, 135, 0.21);
    /* 
    To add multiple shadows
    box-shadow: 5px 5px blue, 10px 10px red, 15px 15px green;
    */
}
.Cgrad
{
    margin: 12px;
    padding: 12px;
    background-image: conic-gradient(rgba(210, 173, 222, 0.044),rgb(194, 160, 206),rgba(0, 0, 255, 0.036));
    height: 350px;
    width: 350px;
    box-shadow: 2px 2px 12px 5px rgba(104, 97, 135, 0.21);
}

.mahabharat
{
    margin: 12px;
    padding: 12px;
    background-image: radial-gradient(red,yellow,green);
    height: 350px;
    width: 350px;
    box-shadow: 2px 2px 12px 5px rgba(104, 97, 135, 0.21);
}

.Crainbow
{
    margin: 12px;
    padding: 12px;
    background-image: conic-gradient(violet,indigo,blue,green,yellow,orange,red);
    height: 350px;
    width: 350px;
    box-shadow: 2px 2px 12px 5px rgba(104, 97, 135, 0.623);
}
.Rrainbow
{
    margin: 12px;
    padding: 12px;
    background-image: radial-gradient(rgba(238, 130, 238, 0.425),rgba(76, 0, 130, 0.425),rgba(0, 0, 255, 0.231),rgba(0, 128, 0, 0.364),rgba(255, 255, 0, 0.262),rgba(255, 166, 0, 0.338),rgba(255, 0, 0, 0.304));
    height: 350px;
    width: 350px;
    box-shadow: 2px 2px 12px 5px rgba(104, 97, 135, 0.21);
}

